{% extends 'main/base.html' %}

{% block title %}View List{% endblock %}

{% block content %}
<p>list.html</p><hr>
    <h1>{{ls.name}}</h1>
    <form method="post" action="#">
    {% csrf_token %}
    <ul>
    {% for item in ls.item_set.all %}
        {% if item.complete == True %}
            <li><input type="checkbox", value="clicked", name="c{{item.id}}" checked>{{item.text}}</li>
        {% else %}
            <li><input type="checkbox", value="clicked", name="c{{item.id}}">{{item.text}}</li>
        {% endif %}
    {% endfor %}
    </ul>
    <p><button type="submit", name="save", value="save">Save</button></p>
    <p><input type="text", name="new">
    <button type="submit", name="newItem", value="newItem">Add To-Do Item</button></p>
    <p><button type="submit", name="delete", value="delete">Delete To-Do List</button></p>
    <hr>
    <p><a href="/">Back to all to-do lists</a></p>

    {% if messages %}
        {% for message in messages %}
        <script>alert('{{ message }}');
        console.log('{{ message }}')</script>>
        {% endfor %}
    {% endif %}


    
{% endblock%}