{% extends 'main/base.html' %}

{% block title %}View List{% endblock %}

{% block content %}


    <h1>{{ls.name}}</h1>
    <form method="post" action="#">
    {% csrf_token %}
    <ul>
    {% for item in ls.item_set.all %}
            <div style="margin:5px;">
            <div style="margin:5px 5px; padding:5px; background-color: green; color:white;">{{item.text|linebreaksbr}}</div>
            <button type="submit", name="deleteItem", value="{{item.id}}">Delete Tweet Message</button>
            </div>
            <hr style="width:35%;" align="left">
    {% endfor %}
    <!-- <p><button type="submit", name="save", value="save">Save</button></p> -->
    <p>
    <!-- <input type="text", name="new" rows="5" cols="60"> -->
    <textarea type="text", name="new" rows="5" cols="60" maxlength="280"></textarea>
    <button type="submit", name="newItem", value="newItem">Add Tweet Message</button>
    </p>
    <!-- <p><button type="submit", name="delete", value="delete">Delete To-Do List</button></p> -->
    <hr>
    <p><a href="/">Back to tweet types</a></p>

    {% if messages %}
        {% for message in messages %}
        <script>alert('{{ message }}');
        console.log('{{ message }}')</script>>
        {% endfor %}
    {% endif %}


    
{% endblock%}